.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-right: 10px;
  margin: 0 auto;
  background-color: var(--main-background-color);
  border-radius: 50px;
}

.search-input {
  width: 90%;
  height: 55px;
  padding: 20px 30px;
  font-size: 18px;
  caret-color: var(--main-font-color);
  background-color: var(--main-background-color);
  border: none;
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  caret-shape: block;
  outline: none;
}

.search-bar:focus-within {
  border: 2px solid var(--main-font-color);
}

.search-bar button {
  width: 10%
}

.copy-book-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin-top: 20px;
  margin-right: -10px;
}

.copy-book-card-list > i {
  width: 220px;
  margin-right: 10px;
}