.nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  padding: 10px;
}

/* .nav-logo {
  color: #36282b;
} */

.nav-item, .nav-more {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px; 

  /* color: #36282b; */
  cursor: pointer;
  border-radius: 8px;
}

.nav-more {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 20px);
}

.nav-item:hover, .nav-more:hover {
  color: white;
  background-color: #ec9bad;
}

.nav-icon {
  width: 22px;
  height: 22px;
}