* {
  box-sizing: border-box;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,Ubuntu,Cantarell,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","PingFang TC","PingFang HK","Microsoft Yahei","Microsoft JhengHei";
}

body {
  padding: 0;
  margin: 0;
  overscroll-behavior-y: contain;
  border: 0;
}

ul, li, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

svg {
  width: 20px;
  height: 20px;
}

:root {
  --main-theme-color: #ec9bad;
  --main-theme-hover-outlined-color: rgb(75 30 47 / 25.3%);
  --main-theme-hover-contained-color:#e6dddd;
  --main-background-color: #f3eaeb;
  --active-background-color: #ffdad9;
  --main-font-color: #534343;
  --hover-font-color: #211a1a;
  --inactive-font-color: rgb(51 51 51 / 70%);
  --main-icon-color: #534343;
  --active-font-color: #2d1516;
  --mask-start-color: rgb(255 255 255 / 100%);
  --mask-end-color: rgb(255 255 255 / 0%);

  overflow: hidden;
  color: var(--main-font-color);
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #0a0a0a;
    --active-background-color: hsl(0deg 0% 100% / 10%);
    --main-font-color: #fff;
    --inactive-font-color: rgb(255 255 255 / 70%);
    --main-icon-color: #fff;
    --mask-start-color: rgb(0 0 0 / 100%);
    --mask-end-color: rgb(0 0 0 / 0%);
  }
}